PORT=3021
UMAMI_API_URL=http://127.0.0.1:3011/api
UMAMI_WEBSITE_ID=REPLACE_WITH_BOOM_BAP_WEBSITE_ID
UMAMI_API_CLIENT_USER_ID=REPLACE_WITH_UMAMI_API_CLIENT_USER_ID
UMAMI_API_CLIENT_SECRET=REPLACE_WITH_SERVER_ONLY_SECRET
